[Desktop Entry]
Type=Application
Name=UNBK
GenericName=Indonesian Exam Browser
Comment=Indonesian Exam Browser
Exec=exambrowser
Icon=id.sch.smkn2kediri.UNBK
Categories=Utility;Education;

